
  <section class="tab" id="photo-tab">
    <h2 class="heading">Photo</h2>
    <%= image_tag @space.avatar,
                  class: "tab-content",
                     id: "photo" %>
  </section>

  <section class="tab" id="map-tab">
    <h2 class="heading">Map</h2>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=640x260&sensor=false&zoom=16&markers=#{@space.latitude}%2C#{@space.longitude}",
                  class: "tab-content",
                     id: "map" %>
  </section>

  <section class="tab" id="calendar-tab">
    <h2 class="heading">Calendar</h2>
    <div class="tab-content" id="calendar-wrapper">
      <%= render partial: "shared/calendar",
                 locals: {bookings: @space.booked_dates_this_month} %>
    </div>
  </section>