<div class="tab-content">
  <p id="description"><%= @space.description %></p>

  <table class="tab-data">
    <tbody>
      <tr>
        <td class="table-row-title">blah1:</td>
        <td class="table-row-data"></td>
      </tr>
      <tr>
        <td class="table-row-title">blah2:</td>
        <td class="table-row-data"></td>
      </tr>
      <tr>
        <td class="table-row-title">blah3:</td>
        <td class="table-row-data"></td>
      </tr>
    </tbody>
  </table>
</div>