
<div class="group" id="itinerary">

  <h1 class="page-header">Your Trip</h1>

  <%= render "bookings/shared/itinerary" %>
    <p class="group" id="disclaimer">
      If this website were real, this is where I would ask you to put in your payment information.
    </p>
 
<p>

  <%= link_to "Checkout", new_order_path %>
</p>
<p>
  <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), pay_path %>
</p>
</div>