<h1>How it works!</h1></br></br>
<h2>Skillfull people at a reasonable price</h2></br></br>

<b>1) Find a person with the knack you need ></b></br>
   You can search through a variety of locals with the skill you require</br>
<b>2) Reserve a time with him</b></br>
   Connect with the user and pay for a day to reserve him</br>
<b>3) Get the knack done for you or learn from him</b> </br>
   Whether it's needing someone to change your oil or someone who can teach you how </br>
   to play violin, needknack will provide you with locals(potential friends) who can </br>
   help you out both in the long run or short term.</br>
