<form action="<%= spaces_url %>" method="get">


<% if !main_page %>
    <%= tag "input", type: "text",
              placeholder: "What? (Guitar? Chef?)",
                     name: "space_filters[title]",
                    class: "text-input input-medium",
                       id: "header-search-input" %>
                        <input type="submit" style="position: absolute; left: -9999px"/>


    <%= tag "input", type: "text",
              placeholder: "Where? (Boston? Miami?)",
                     name: "space_filters[city]",
                    class: "text-input input-medium",
                       id: "header-search-input" %>
                       <input type="submit" style="position: absolute; left: -9999px"/>
           
<% end %>



</form>