<nav class="group" id="logo-banner">
  <ul>

    <li>
<<<<<<< HEAD
      <%= link_to "Reserve a Friend", root_url, method: :get, id: "site-logo" %>
=======
      <%= link_to "cloudbnb", root_url, method: :get, id: "site-logo" %>
>>>>>>> 67caadcb7b1c91f4973e72ffc1647bae18218486
    </li>

    <li>
      <%= render "header/header_search_bar" %>
    </li>

  </ul>
</nav>