<nav class="group" id="logo-banner">
  <ul>

    <li><img src="/assets/NK_Square_Logo.png" height="40" width="40">
      <%= link_to "needknack", root_url, method: :get, id: "site-logo" %>
    </li>

    <li>
      <%= render "header/header_search_bar" %>

    </li>

  </ul>
</nav>