<div id="splash-container">
  <!--img src="<!%= Space.random_space_with_photo.url %>" id="splash"-->

  <div class="group" id="root-page-search-bar-container">
    <h1>How Does it Work?</h1>
    <h3>Find a knack whereever you go.</h3>
    <form action="<%= spaces_url %>" class="group" id="root-page-search-bar" method="get">

      <%= tag "input", type: "text",
                placeholder: "What knack are you looking for?",
                       name: "space_filters[knack]",
                      class: "text-input input-large",
                         id: "root-input-knack" %>

      <%= tag "input", type: "text",
                placeholder: "Where do you want to go? (NYC suggested)",
                       name: "space_filters[city]",
                      class: "text-input input-large",
                         id: "root-input-city-name" %>
<!-- COMMENT THIS ADD -->
      <!--%= select_numerical_given_options(html_name: "space_filters[guest_count]",
                                       plural_noun: "guests") %-->

      <input type="submit" value="Search" class="button blue input-large" id="search-button">

    </form>

  <body><br><br><br><br><br><br><br>
  Knack noun \nak\</br>
  an ability, talent, or special skill needed to do something.
  </body>
  </div>
</div>