// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.howitworks {
  color: #CCC;
  background: #AAA;
  border: 1px solid black;
  width: 1760px;
  height: 40px;
  text-align: center;
}
